*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#traco{

    transition: all .3s ease-in-out;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: all;
}
button {

    background: none ;
    border: none ;
    color: inherit ;
    font: inherit;
    cursor: default ;
    padding: 0 ;
    user-select: none ; 
    transition: none ;
    box-shadow: none ;
    outline: none !important;
    text-decoration: none ;


}
.botao-participante {
    border-bottom: 2px solid transparent;
    transition: border 0.4s;
    padding: 10px 20px;


}

.botao-participante.clicado {
    border-bottom-color: black;
}

