*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#cabeca {
    background-color: rgb(28, 61, 61);
    height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex; /* Usar flexbox para centralizar vertical e horizontalmente */
    align-items: center; /* Centralizar verticalmente */
    color: white;
}

#text{
    margin-left: 400px;
}

#botao{
    margin-left: 500px;
    border-radius: 10px;
    height: 40px;
    width: 80px;
    background-color: rgb(48, 150, 150);
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: background 300ms ease-in-out;
    align-items: center;
    display: flex;

}
#botao:hover{
    transition: background 300ms ease-in-out;
    background-color: rgb(43, 110, 110);
}

#img{
    height: 15px;
    width: 15px;
    align-items: center; 
    margin-left: 7px;
}